/* Font */

@import url('https://fonts.googleapis.com/css?family=Raleway');
/* General */

:root {
  font: 16px / 1;
}

* {
  list-style: none;
}

html {
  height: 100%;
}

article {
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Raleway', Verdana, Geneva, sans-serif;
  margin: 0;
  overflow-x: hidden;
}

image {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

/* --------- Nav Bar - Header */

nav {
  background-color: rgba(10, 10, 10, 0.945);
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
}

nav h1 {
  margin-left: 5vw;
  color: whitesmoke;
  white-space: pre;
}

nav h1 a:link, nav h1 a:visited {
  color: inherit;
  text-decoration: none !important;
}

nav ul {
  white-space: pre;
  letter-spacing: .2ch;
  font-size: calc(1.4vh + .4vw);
  text-decoration: none;
  list-style-type: none;
  margin-top: 1vh;
  padding-top: 1vh;
}

nav ul li {
  padding: 1.5vh;
  display: inline-block;
}

nav ul li a:link, nav ul li a:visited {
  color: #f4f9eb;
  text-decoration: none;
}

nav ul li a:hover {
  border-bottom: #F1F1F1 2px solid;
}

.m-color-change {
  color: #ffff08;
}

#social-media-links a {
  margin-right: 1.2vh;
  font-size: calc(2vh + .4vw);
}

/* --------- Log In PG */

.log-in {
  margin: 3rem;
  background-color: grey;
  border-radius: 3px;
  padding: 3rem;
  text-align: center;
}

/* --------- Home Profile */

#home-page-pattern-header {
  margin: 0 7vw;
  margin-top: 3vw;
  display: flex;
  flex-direction: wrap;
}

#home-page-pattern-header button {
  border: none;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  border: 4px solid #ffff08;
  background-color: #fff;
  white-space: nowrap;
  margin-right: 1.6vh;
  padding: 0 2.5vh;
  font-size: calc(1vh + .5vw);
  color: black;
}

#home-page-pattern-header button a:hover {
  border-bottom: black 2px dashed;
  line-height: 1.3;
}

/* POST IT NOTE CARDS */

#home-page-patterns h2, p {
  font-size: 100%;
  font-weight: normal;
}

#home-page-patterns ul {
  padding: 2em;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}

#home-page-patterns ul li a {
  text-align: center;
  color: #000;
  background: #ffc;
  display: block;
  height: 25vh;
  width: 25vh;
  padding: 1em;
  text-decoration: none;
}

#home-page-patterns ul li {
  margin: 1em;
  font-family: monospace;
  letter-spacing: 2px;
  list-style-type: none;
}

#home-page-patterns ul li a:hover, #home-page-patterns ul li a:focus {
  -moz-box-shadow: 5px 5px 7px rgba(55, 55, 55, 0.7);
  -webkit-box-shadow: 5px 5px 7px rgba(55, 55, 55, 0.7);
  box-shadow: 5px 5px 7px rgba(55, 55, 55, 0.7);
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -o-transform: scale(1.15);
  position: relative;
  z-index: 5;
  cursor: pointer;
  background-color: #f7e7f4b4;
}

/* Add New Pattern */

textarea {
  resize: vertical;
}

/* LANDING PAGE */

.landing-nav {
  background-color: rgb(243, 241, 241) !important;
  color: black;
}

.landing-nav ul {
  font-size: 2.5vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: .8rem;
  padding-left: 4.5rem;
}

.landing-nav ul li a:link, .landing-nav ul li a:visited {
  color: rgb(42, 43, 42);
}

.landing-nav ul li a i:hover, .landing-nav ul li a:hover {
  color: black;
  border-bottom: dashed black 1px;
}

.landing-nav>h1 {
  width: 100%;
  background-color: black;
  padding: 1rem 5rem;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.landing-pg {
  color: rgb(44, 44, 44);
  text-shadow: rgb(48, 54, 48) 1px 1px;
  height: 100%;
  color: black;
}

.landing-pg header {
  font-family: Helvetica, sans-serif;
  letter-spacing: .1ch;
  background-color: white;
  text-align: left;
  padding-left: 5rem;
  color: white !important;
  padding: 3rem;
  border-radius: 1px;
  min-height: 60vh;
  position: relative;
  overflow: hidden;
}

.landing-pg header:before {
  background-image: url("images/48f24cf5-ad08-4599-a978-6c0c1127c536.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  background-position: 50% 0;
  z-index: 1;
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.75;
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.landing-pg header h2 {
  padding-top: 1rem;
  font-size: 2rem;
}

.landing-pg header h1 {
  font-size: 3rem;
  padding-bottom: 2rem;
}

.landing-pg header h1, .landing-pg header h2, .landing-pg header button {
  z-index: 2;
  position: relative;
}

.landing-pg header button {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.landing-pg section {
  background-color: whitesmoke;
  text-align: center;
}

.landing-pg article h3 {
  text-align: center;
  letter-spacing: .15ch;
  font-size: 1.8rem;
  padding: 1.5rem;
  background-color: rgba(125, 134, 106, 0.44);
  color: whitesmoke;
  margin-bottom: 0;
  margin-top: 0;
  text-shadow: none;
}

.stitchmate-post-it {
  color: yellow;
  letter-spacing: normal;
}

.stitchmate-logo-lettering {
  color: black;
  letter-spacing: normal;
  text-shadow: #000 1px .5px;
}

.landing-pg button {
  padding: .7rem;
  letter-spacing: 0.1ch;
  background-color: black;
  border: whitesmoke 4px solid;
  box-shadow: rgba(112, 128, 144, 0.54) 1px 2px 9px;
  color: white;
  border: 4px solid #ffff08;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.landing-pg button:hover span {
  border-bottom: #d6d607ab 2px dashed;
}

.landing-pg article section {
  min-height: 40rem;
}

.landing-pg article section ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  color: black !important;
}

/* corners */

.landing-pg article section ul li {
  /* 1 */
  position: relative;
  width: 33vh;
  height: auto;
  min-height: 30vh;
  margin: 2em 2em;
  background: #97C02F;
  color: black;
  overflow: hidden;
}

.landing-pg article section ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  /* border-width: 16px 16px 0 0; */
  border-width: 0 16px 16px 0;
  border-style: solid;
  border-color: #658E15 #fff;
  display: block;
  width: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.landing-pg article section ul li::after {
  border-width: 8px;
  border-color: transparent #f5f5f5 #f5f5f5 transparent !important;
  background: #658E15;
  display: block;
  width: 0;
}

.landing-pg article section ul li h2 {
  background-clip: border-box;
  background-color: rgb(141, 137, 130);
  background-image: none;
  background-origin: padding-box;
  background-position: 0% 0%;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
  box-sizing: border-box;
  color: white;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 42px;
  list-style-type: none;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-wrap: break-word;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  position: relative;
  text-align: center;
  visibility: visible;
}

.landing-pg article section ul li p {
  box-sizing: border-box;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-wrap: break-word;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  visibility: visible;
  text-shadow: none;
  text-align: center;
}

/* --------- Footer */

footer {
  background-color: rgb(235, 235, 235);
  color: black;
  text-align: center;
  letter-spacing: 4px;
  font-size: calc(.8vh + .5vw);
  padding: 1vh 0.6vh;
  border-top: #868686 .5px solid;
  width: 100%;
  right: 0;
  bottom: 0%;
  display: block;
  left: 0;
  z-index: 1;
}

footer p a i {
  color: black;
  padding: 0 .4rem;
  /* overflow: hidden; */
}

/* 

.stitchBorder {
    width: 12pc;
    border-bottom: #7e7e7e 2px dashed;
    font-weight: 600;
}

#stepNumberDropDown{
    width: 13%;
    max-width: 14%;
}

.stepNumberCSS{
    font-weight: 600;
    font-size: 125.5%;
} */

@media (max-width: 650px) {
  nav ul {
    letter-spacing: .2ch;
    font-size: calc(1.2vh + .4vw);
    margin: 0 .5rem;
    margin-top: .5rem;
    padding: .7rem;
    margin-right: auto;
    margin-left: auto;
  }
  nav ul li {
    display: block;
    padding: .5rem;
    border: white 1.5px solid;
    width: 100%;
    margin: .5rem;
    text-align: center;
  }
  nav ul li a {
    width: 100%;
    text-align: right;
    text-decoration: none;
    padding: 1rem;
  }
  #home-page-pattern-header {
    margin: 0;
    padding-top: 5vw;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(241, 240, 240);
    padding-bottom: 5%;
  }
  #home-page-pattern-header button {
    width: 80%;
    letter-spacing: .4ch;
    white-space: normal;
    text-decoration: none;
    padding: 1.5rem;
    font-size: calc(1.7vh + .5vw);
    border: #ffc 2.5px solid;
  }
  nav ul li a:hover {
    border-bottom: none;
  }
}