/* Font */

@import url('https://fonts.googleapis.com/css?family=Raleway');
/* General */

:root {
  font: 16px / 1;
}

html {
  font-family: 'Raleway', Verdana, Geneva, sans-serif;
}

body {
  margin: 0;
  min-height: 100%;
}

button {
  cursor: pointer;
}

/* --------- Header */

nav {
  background-color: #000;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
}

nav h1 {
  margin-left: 5vw;
  color: whitesmoke;
  white-space: pre;
}

nav ul {
  white-space: pre;
  letter-spacing: .2ch;
  font-size: calc(1.2vh + .4vw);
  text-decoration: none;
  list-style-type: none;
  margin-top: 1vh;
  padding-top: 1vh;
}

nav ul li {
  padding: 1.5vh;
  display: inline-block;
}

nav ul li a:link, nav ul li a:visited {
  color: #f4f9eb;
}

/* --------- Log In PG */

.log-in {
  margin: 3rem;
  background-color: grey;
  border-radius: 3px;
  padding: 3rem;
  text-align: center;
}

/* --------- Home Profile */

#home-page-pattern-header {
  margin: 0 7vw;
  margin-top: 3vw;
  display: flex;
  flex-direction: wrap;
}

#home-page-pattern-header button {
  border: none;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  background-color: #ffff08;
  white-space: nowrap;
  margin-right: 1.6vh;
  padding: 0 2.5vh;
  font-size: calc(1vh + .5vw);
}

/* POST IT NOTE CARDS */

#home-page-patterns h2, p {
  font-size: 100%;
  font-weight: normal;
}

#home-page-patterns ul {
  padding: 2em;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

#home-page-patterns ul li a {
  text-align: center;
  color: #000;
  background: #ffc;
  display: block;
  height: 10em;
  width: 10em;
  padding: 1em;
  text-decoration: none;
}

#home-page-patterns ul li {
  margin: 1em;
  font-family: monospace;
  letter-spacing: 2px;
  list-style-type: none;
}

#home-page-patterns ul li a:hover, #home-page-patterns ul li a:focus {
  -moz-box-shadow: 5px 5px 7px rgba(55, 55, 55, 0.7);
  -webkit-box-shadow: 5px 5px 7px rgba(55, 55, 55, 0.7);
  box-shadow: 5px 5px 7px rgba(55, 55, 55, 0.7);
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -o-transform: scale(1.15);
  position: relative;
  z-index: 5;
  cursor: pointer;
}

/* --------- Footer */

footer {
  background-color: #F1F1F1;
  color: black;
  text-align: center;
  margin-top: 16px;
  letter-spacing: 4px;
  display: flex;
  flex-flow: column;
  font-size: calc(.8vh + .5vw);
  padding: 3vh;
  overflow: hidden;
}

footer p a i {
  color: black;
  padding: 0 .4rem;
  /* overflow: hidden; */
}

/* 
.stitchBorder {
    width: 12pc;
    border-bottom: #7e7e7e 2px dashed;
    font-weight: 600;
}

#stepNumberDropDown{
    width: 13%;
    max-width: 14%;
}

.stepNumberCSS{
    font-weight: 600;
    font-size: 125.5%;
} */

@media (max-width: 650px) {
  nav ul {
    letter-spacing: .2ch;
    font-size: calc(1.2vh + .4vw);
    margin: 0 .5rem;
    margin-top: .5rem;
    padding: .7rem;
    margin-right: auto;
    margin-left: auto;
  }
  nav ul li {
    display: inline-block;
    padding: .5rem;
  }
  nav ul li a {
    color: hotpink !important;
    width: 100%;
    display: inline-block;
    text-align: right;
  }
}